<% 
const pageTitle = '습관 목록'; 
%> 

<%- include('basic', { 
  pageTitle: pageTitle, 
  container: `
    <table>
      <thead>
        <tr>
          <th>아이디</th>
          <th>습관명</th>
          <th>시작일-종료일</th>
          <th>기록 갯수</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% habbits.forEach(habbit => { %>
          <tr>
            <td><%= habbit.id %></td>
            <td><%= habbit.name %></td> 
            <td><%= habbit.date %></td>
            <td><%= habbit.record_count %></td>
            <td><a href="/habbit/delete/<%= habbit.id %>">삭제</a></td>
          </tr>
        <% }); %> 
      </tbody>
    </table>
    <button><a href="/habbit_add">습관 추가</a></button>
  ` 
}) %>
