<%- contentFor('container') %>
<div class="habit-container">
<h3>습관 목록</h3><a class="logout-a" href="/logout">LOGOUT</a>
  <div class="row">
    <% habits.forEach((habit, idx) => { %>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <%= habit.name %>
              <span class="tooltip"><%= habit.name %></span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= habit.start_date %> - </h6>
            <h6 class="card-subtitle mb-2 text-muted"><%= habit.end_date %></h6>
            <br>
            <p class="card-text">작성한 기록: <%= habit.record_count %>개</p>
            <a href="/habit_record_list/<%= user_id %>/<%= habit.id %>">습관 기록하기</a>
            <a href="/habit_delete/<%= user_id %>/<%= habit.id %>" onclick="confirmDelete('<%= habit.name %>', '<%= user_id %>', '<%= habit.id %>'); return false;" class="card-link">삭제</a>
          </div>
        </div>
      </div>
    <% }) %> 
   </div>

<button class="habit-add-button"><a href="/habit_add/<%= user_id %>">ADD HABIT</a></button>

<div class="pagination">
  <% if (currentPage > 1){%>
  <a href="/habit_list/<%= user_id %>?page=<%=currentPage - 1%>">이전</a>
  <% } %> <% for (let i=1; i<= totalPage; i++) {%>
  <a href="/habit_list/<%= user_id %>?page=<%=i%>"><%=i%></a>
  <% } %> <% if (currentPage < totalPage){%>
  <a href="/habit_list/<%= user_id %>?page=<%=currentPage + 1%>">다음</a>
  <% } %>
</div>
</div>

<%- contentFor('script') %>
  <script>
    function confirmDelete(habit_name, user_id, habit_id) {
      const confirmation = confirm(`습관 기록 내용이 모두 삭제 됩니다. 해당 습관(${habit_name})을 삭제하겠습니까?`)
      if (confirmation) {
        window.location.href = `/habit_delete/${user_id}/${habit_id}`; // 삭제 요청 URL로 리다이렉트
      }
    }
  </script>
