<%- contentFor('container') %>
<div class="container">
<div class="register-main-div">
  <div class="register-wrap">
    <header>
      <h1 class="register-header-h1">REGISTRATION</h1>
      <h1 class="register-header-h1">HABIT.TIME</h1>
    </header>
    <div class="register-div">
      <form action="/register" method="post" class="register-Form">
        <div class="form-group">
          <label>YOUR NAME</label>
          <input name="name" type="text" placeholder="Your Name" value="<%= name %>">
        </div>
        <div class="form-group">
          <label>EMAIL ADDRESS</label>
          <input name="username" type="email" placeholder="Email Address" value="<%= username %>">
          <span id="alert-span" style="display: <%= isEmailDuplicate ? 'block' : 'none' %>;">
            <%= message %>
          </span>
        </div>
        <div class="form-group">
          <label>PASSWORD</label>
          <input name="password" type="password" placeholder="Password" value="<%= password %>">
        </div>
        <button type="submit">REGISTER NOW</button> 
        <span class="singup">ALREADY HAVE AN ACCOUNT? <a href="/login">Login now</a></span>
      </form>
  </div>
  </div>
</div>
</div>

<%- contentFor('script') %>
<script>
  window.onload = function() {
    const alertBox = document.getElementById('alert-span');
    
    if (alertBox.style.display === 'block') {
      setTimeout(function() {
        alertBox.style.display = 'none';
      }, 3000); 
    }
  };
</script>


